header {
  background-color: #222222;
  position: relative;
  z-index: 2;
}

header .header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
}

header .header__account {
  margin-right: 33px;
}

header .header__basket {
  position: relative;
}

header .header__basket__count {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: -10px;
  top: -20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 19px;
  height: 19px;
  background: #F16D7F;
  border-radius: 50%;
  color: white;
  font-size: 12px;
}

header .header__nav {
  position: absolute;
  top: 77px;
  right: 0;
  z-index: 10;
  -webkit-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

header .header__menu {
  margin-right: 25px;
  color: #fff;
  font-size: 23px;
  vertical-align: bottom;
  cursor: pointer;
}

.nav {
  width: 232px;
  background-color: #fff;
  height: calc(100vh-63px);
  padding: 37px 0 52px 33px;
}

.nav__wrap {
  position: relative;
}

.nav__close {
  position: absolute;
  right: 17px;
  top: -16px;
  cursor: pointer;
}

.nav__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: #000000;
  margin-bottom: 24px;
}

.nav__title__category {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
}

.nav__link {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #6F6E6E;
  margin-left: 22px;
  margin-bottom: 16px;
}

.nav__link:hover {
  color: #F16D7F;
}

#burger {
  display: none;
}

#burger:checked ~ .header__nav {
  visibility: visible;
  opacity: 1;
}

#burger:not(checked) ~ .header__nav {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

@media (max-width: 1172px) {
  header .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 399px) {
  header .header__account {
    display: none;
  }
  header .header__basket {
    display: none;
  }
  header .header__menu {
    margin-right: 0;
  }
}

.subscribe {
  height: 448px;
  background-image: url(../images/bg-subscribe.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 97px;
  margin-right: 327px;
}

.subscribe__left__icon {
  margin-bottom: 30px;
}

.subscribe__left__content {
  max-width: 360px;
  height: 100%;
}

.subscribe__left__text {
  font-size: 20px;
  font-style: italic;
  line-height: 24px;
  text-align: center;
  font-weight: 400;
  color: #222224;
}

.subscribe__right {
  margin-top: 148px;
}

.subscribe__right__content {
  margin-bottom: 32px;
  color: #222224;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.subscribe__right__heading {
  font-size: 24px;
}

.subscribe__right__text {
  font-size: 18px;
  line-height: 24px;
}

.subscribe__form {
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe__form__input {
  width: 256px;
  height: 49px;
  background-color: #e1e1e1;
  border: 0;
  border-radius: 23px 0 0 23px;
  padding-left: 22px;
  padding-right: 22px;
  color: #222224;
}

.subscribe__form ::-webkit-input-placeholder {
  opacity: 0.67;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.subscribe__form :-ms-input-placeholder {
  opacity: 0.67;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.subscribe__form ::-ms-input-placeholder {
  opacity: 0.67;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.subscribe__form ::placeholder {
  opacity: 0.67;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.subscribe__form__button {
  cursor: pointer;
  height: 49px;
  padding: 0 20px;
  border: 0;
  border-radius: 0 23px 23px 0;
  background-color: #fff;
  color: #f16d7f;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.35px;
}

.subscribe__form__button:hover {
  background-color: #f16d7f;
  color: #fff;
}

@media (max-width: 1172px) {
  .subscribe {
    height: 614px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(244, 244, 244, 0.7))), url(../images/bg-sub-media.png);
    background: linear-gradient(rgba(244, 244, 244, 0.7)), url(../images/bg-sub-media.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .subscribe__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe__left {
    margin-top: 53px;
    margin-right: 0;
  }
  .subscribe__right {
    margin-top: 70px;
  }
  .subscribe__right__content {
    margin-bottom: 27px;
  }
}

@media (max-width: 399px) {
  .subscribe {
    height: 610px;
  }
  .subscribe__left__content {
    max-width: 271px;
  }
  .subscribe__left__text {
    font-size: 18px;
    line-height: 21.6px;
  }
  .subscribe__right {
    margin-top: 59px;
  }
  .subscribe__right__content {
    margin-bottom: 22px;
  }
  .subscribe__right__title {
    font-weight: 700;
    line-height: 37px;
  }
  .subscribe__right__text {
    font-size: 14px;
    line-height: 21px;
  }
}

footer {
  height: 79px;
  background-color: #222224;
}

footer .footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__left {
  margin-top: 24px;
}

footer .footer__left__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #FBFBFB;
}

footer .footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 191px;
  margin-top: 24px;
}

footer .footer__right__links {
  color: #b2b2b2;
  font-family: "Font Awesome";
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

footer .footer__right__links:hover {
  color: #f16d7f;
}

@media (max-width: 1172px) {
  footer .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 399px) {
  footer {
    height: 143px;
  }
  footer .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  footer .footer__left {
    margin-top: 40px;
  }
  footer .footer__right {
    margin-top: 43px;
  }
}

.banner {
  height: 764px;
  background-color: #F1E4E6;
  margin-bottom: 65px;
}

.banner__wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: url(../images/bg-top.png);
  background-repeat: no-repeat;
  background-position: -228px 0;
}

.banner__content {
  max-width: 401px;
}

.banner__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: left;
  padding-left: 16px;
  border-left: 12px solid #F16D7F;
}

.banner__title--bold {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.banner__title--pink {
  color: #F16D7F;
}

@media (max-width: 1172px) {
  .banner {
    height: 386px;
    margin-bottom: 20px;
  }
  .banner__wrap {
    background-size: 386px;
    background-position: -49px 18px;
  }
  .banner__content {
    max-width: 313px;
    margin-right: 18px;
  }
  .banner__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
  .banner__title--bold {
    font-weight: 900;
    font-size: 44px;
    line-height: 53px;
  }
}

@media (max-width: 399px) {
  .banner {
    margin-bottom: 64px;
  }
  .banner__wrap {
    background-image: none;
  }
}

.offers {
  margin-bottom: 66px;
}

.offers__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  height: 260px;
  margin-bottom: 30px;
}

.offers__item:last-child {
  width: 100%;
  max-height: 180px;
}

.offers__item--women {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7))), url(../images/women.png);
  background: linear-gradient(rgba(33, 22, 22, 0.7)), url(../images/women.png);
}

.offers__item--men {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7))), url(../images/men.png);
  background: linear-gradient(rgba(33, 22, 22, 0.7)), url(../images/men.png);
}

.offers__item--kids {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7))), url(../images/kids.png);
  background: linear-gradient(rgba(33, 22, 22, 0.7)), url(../images/kids.png);
}

.offers__item--accessories {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7))), url(../images/acc.png);
  background: linear-gradient(rgba(33, 22, 22, 0.7)), url(../images/acc.png);
}

.offers__item__link {
  max-width: 155px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: #fff;
}

.offers__item__link--pink {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #F16D7F;
}

@media (max-width: 1172px) {
  .offers {
    margin-bottom: 135px;
  }
  .offers .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .offers__item {
    width: 232px;
    height: 168px;
    margin-bottom: 20px;
    background-size: 232px;
  }
  .offers__item:last-child {
    width: 100%;
    max-height: 116px;
    background-size: 734px;
  }
}

@media (max-width: 399px) {
  .offers {
    margin-bottom: 32px;
  }
  .offers__item {
    width: 343px;
    height: 247px;
    margin-bottom: 32px;
    background-size: 343px;
  }
  .offers__item:last-child {
    max-height: 116px;
    width: 100%;
    background-size: cover;
  }
}

.about {
  background-color: #222224;
}

.about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 103px;
  margin-bottom: 104px;
}

.about__item__content__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #fbfbfb;
  margin-top: 24px;
  margin-bottom: 16px;
}

.about__item__content__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
}

@media (max-width: 1172px) {
  .about__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__item {
    margin-top: 48px;
    margin-bottom: 48px;
  }
  .about__item:nth-child(even) {
    margin-top: 0;
    margin-bottom: 0;
  }
  .about__item__content {
    max-width: 360px;
  }
}

@media (max-width: 399px) {
  .about__items {
    padding-bottom: 33px;
  }
}

.slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F7F7F7;
  border: 1px solid #EAEAEA;
}

.slider__button {
  position: absolute;
  cursor: pointer;
  background: rgba(42, 42, 42, 0.15);
  border: 0;
  padding: 13px 17px;
}

.slider__button__left {
  left: 5px;
}

.slider__button__right {
  right: 5px;
}

.slider__button:hover {
  color: #EF5B70;
}

@media (max-width: 1172px) {
  .slider__img > img {
    width: 466px;
    height: 565px;
    margin-bottom: 29px;
  }
  .slider__button__left {
    left: 0;
  }
  .slider__button__right {
    right: 0;
  }
}

@media (max-width: 399px) {
  .slider__img > img {
    width: 374px;
    height: 454px;
    margin-top: 85px;
    margin-bottom: 85px;
  }
  .slider__button__left {
    left: 0;
  }
  .slider__button__right {
    right: 0;
  }
}

.description {
  margin-bottom: 129px;
}

.description .container {
  margin-top: -50px;
  border: 1px solid #EAEAEA;
  background-color: #fff;
}

.description__wrap {
  position: relative;
}

.description__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #EAEAEA;
  margin: 64px 250px 65px 250px;
}

.description__category {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #F16D7F;
  border-bottom: 3px solid #EF5B70;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.description__title {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 48px;
}

.description__text {
  max-width: 555px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #5E5E5E;
  margin-bottom: 32px;
}

.description__price {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: #EF5B70;
  margin-bottom: 65px;
}

.description__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 49px;
}

.description__choice__group {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #6F6E6E;
}

.description__choice__group:not(:last-child) {
  margin-right: 23px;
}

.description__button {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #F26376;
  fill: #F26376;
  border: 1px solid #F26376;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 56px 14px 23px;
  margin: 0 auto;
  margin-bottom: 65px;
}

.description__button:hover {
  background: #F26376;
  color: #fff;
  fill: #fff;
}

.description__button > svg {
  margin-right: 23px;
}

@media (max-width: 1172px) {
  .description__content {
    margin: 65px 107px;
  }
}

@media (max-width: 399px) {
  .description {
    margin-bottom: 64px;
  }
  .description .container {
    padding: 0;
  }
  .description__content {
    margin: 65px 25px;
  }
  .description__title {
    margin-bottom: 32px;
  }
  .description__text {
    line-height: 20px;
  }
  .description__price {
    margin-bottom: 32px;
  }
  .description__choice {
    margin-bottom: 65px;
  }
  .description__choice__group {
    font-size: 10px;
    line-height: 12px;
  }
  .description__choice__group:not(:last-child) {
    margin-right: 25px;
  }
}

.breadcrumbs {
  background: #F8F3F4;
  padding-top: 59px;
  padding-bottom: 60px;
}

.breadcrumbs__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.breadcrumbs__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumbs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs__item__link {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #636363;
  margin-right: 5px;
}

.breadcrumbs__item--active {
  color: #F16D7F;
}

@media (max-width: 399px) {
  .breadcrumbs {
    padding-top: 24px;
    padding-bottom: 46px;
  }
  .breadcrumbs__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .breadcrumbs__title {
    margin-bottom: 32px;
  }
}

.filter {
  margin-top: 40px;
  margin-bottom: 134px;
}

.filter .container {
  position: relative;
}

.filter__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
}

.filter__wrap > .filter__menu {
  width: 360px;
}

.filter__menu {
  cursor: pointer;
}

.filter__menu__box {
  z-index: 100;
}

.filter__menu__title {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.filter__menu--inner {
  padding: 13px 0 16px 16px;
}

.filter__menu[open]:first-child {
  background-color: #FFF;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.filter__summary {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #6F6E6E;
}

.filter__summary__title {
  padding: 11px;
  padding-left: 16px;
}

.filter__menu[open] > .filter__summary {
  color: #EF5B70;
}

.filter__menu[open] > .filter__summary .filter__summary__icon {
  fill: #EF5B70;
}

.filter__menu--inner .filter__summary {
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  margin-right: 15.5px;
}

.filter__item__link {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #6F6E6E;
  margin-top: 11px;
  margin-left: 18px;
}

.filter__item__link:hover {
  color: #EF5B70;
}

.filter__summary__icon {
  padding: 15px 0 11px 0;
  fill: #6F6E6E;
}

.filter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 16px;
}

.filter__form__span {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 28px;
}

.filter__form__checkbox {
  display: none;
  border: 0;
  background: #FFFFFF;
  color: #6f6e6e;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 9px 9px 12px 9px;
}

.filter__form__checkbox .checkbox {
  border: 1px solid #EBEBEB;
  margin-right: 10px;
  color: #6f6e6e;
}

.filter__form__group:hover .filter__form__checkbox {
  display: block;
}

@media (max-width: 1172px) {
  .filter {
    margin-top: 13px;
    margin-bottom: 81px;
  }
  .filter__wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 399px) {
  .filter__form__span {
    font-size: 12px;
    line-height: 14px;
  }
}

.catalog__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__title {
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
}

.catalog__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 48px;
}

.catalog__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__item {
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
  position: relative;
  background: #F8F8F8;
  margin-bottom: 30px;
}

.catalog__item:nth-child(3), .catalog__item:nth-child(6), .catalog__item:nth-child(9) {
  margin-right: 0;
}

.catalog__item__content {
  margin: 25px 0 20px 18px;
}

.catalog__item__title {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
  margin-bottom: 13px;
}

.catalog__item__text {
  max-width: 315px;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 18px;
}

.catalog__item__price {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #F16D7F;
}

.catalog__item__button {
  position: absolute;
  top: 198px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.catalog__item__button_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fff;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  padding: 7px;
}

.catalog__item__button_link:hover {
  -webkit-box-shadow: 0 0 10px #fff;
          box-shadow: 0 0 10px #fff;
}

.catalog__item__button_icon {
  margin-right: 10px;
}

.catalog__item:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.catalog__item:hover .catalog__item__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog__item:hover .catalog__item__img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.catalog__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 95px;
  margin-top: 18px;
}

.catalog__button {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: #f16d7f;
  background-color: #fff;
  border: 1px solid #f16d7f;
  padding: 14.5px 38.5px 13.5px;
}

.catalog__button:hover {
  background-color: #f16d7f;
  color: #fff;
}

.catalog__pagination {
  width: 283px;
  height: 43px;
  border: 1px solid #EBEBEB;
  border-radius: 3px 3px 3px 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__pagination__item {
  margin: 15px 0 15px 0;
}

.catalog__pagination__item__arrow {
  margin: 15px 16px 15px 16px;
}

.catalog__pagination__item__link {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #EBEBEB;
}

.catalog__pagination__item__link--active {
  color: #EF5B70;
}

.catalog__pagination__item__link:hover {
  color: #EF5B70;
}

@media (max-width: 1195px) {
  .catalog__title {
    font-weight: 400;
    margin-bottom: 3px;
  }
  .catalog__text {
    margin-bottom: 73px;
  }
  .catalog__item {
    margin-bottom: 16px;
    margin-right: 16px;
  }
  .catalog__item:nth-child(even) {
    margin-right: 0;
  }
  .catalog__item:nth-child(3) {
    margin-right: 16px;
  }
  .catalog__buttons {
    margin-bottom: 65px;
  }
}

@media (max-width: 399px) {
  .catalog .container {
    padding-left: 8px;
    padding-right: 8px;
  }
  .catalog__text {
    margin-bottom: 65px;
  }
  .catalog__item {
    margin-right: 0;
  }
  .catalog__item:nth-child(3) {
    margin-right: 0;
  }
  .catalog__buttons {
    margin-top: 25px;
    margin-bottom: 96px;
  }
}

.cart {
  margin-top: 96px;
}

.cart__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 128px;
}

.cart__items {
  margin-bottom: 72.5px;
}

.cart__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__button {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #000;
  border: 1px solid #A4A4A4;
  padding: 17px 41px 16px 39px;
}

.cart__button:hover {
  color: #fff;
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
}

.cart__item {
  max-height: 306px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.cart__item:not(:last-child) {
  margin-bottom: 40px;
}

.cart__item__content {
  margin: 22px 130px 0 22px;
}

.cart__item__title {
  max-width: 188px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #222222;
  margin-bottom: 42px;
}

.cart__item__text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #575757;
}

.cart__item__text:last-child {
  margin-right: 24px;
}

.cart__item__text:not(:last-child) {
  margin-bottom: 6px;
}

.cart__item__price {
  color: #F16D7F;
}

.cart__item__number {
  width: 43px;
  height: 24px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-left: 24px;
}

.cart__item__button {
  width: 18px;
  height: 18px;
  fill: #575757;
  margin-top: 28px;
  margin-right: 22px;
  cursor: pointer;
}

.cart__right {
  margin-left: 128px;
}

.cart__form {
  margin-bottom: 57.5px;
}

.cart__form__title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.cart__form__input {
  width: 343px;
  height: 45px;
  border: 1px solid #A4A4A4;
  padding-left: 17px;
  padding-right: 17px;
  text-transform: capitalize;
}

.cart__form__input:not(:last-child) {
  margin-bottom: 21px;
}

.cart__form__button {
  cursor: pointer;
  border: 1px solid #A4A4A4;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  background: #fff;
  color: #4A4A4A;
  padding: 10px 14px 12px 15px;
}

.cart__form__button:hover {
  color: #fff;
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
}

.cart__checkout {
  background: #F5F3F3;
  padding: 39px 43px 42px 44px;
}

.cart__checkout__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 1px solid #E2E2E2;
  margin-bottom: 17px;
  padding-bottom: 21px;
}

.cart__checkout__text {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  color: #4A4A4A;
  margin-bottom: 12px;
}

.cart__checkout__text--bold {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #222222;
}

.cart__checkout__price {
  margin-left: 25px;
}

.cart__checkout__price--pink {
  color: #F16D7F;
  margin-left: 26px;
}

.cart__checkout__button {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  background: #fff;
  padding: 15px 43px 16px 41px;
}

.cart__checkout__button:hover {
  color: #fff;
  background: #F16D7F;
}

@media (max-width: 1172px) {
  .cart {
    margin-top: 59px;
  }
  .cart__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart__items {
    margin-bottom: 62px;
  }
  .cart__item__content {
    margin-right: 230px;
  }
  .cart__buttons {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .cart__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 65px;
    margin-left: 0;
  }
  .cart__form {
    margin-bottom: 0;
  }
  .cart__form__input {
    width: 360px;
  }
  .cart__checkout {
    margin-top: 38px;
  }
}

@media (max-width: 399px) {
  .cart {
    margin-top: 39px;
  }
  .cart .container {
    padding-left: 8px;
    padding-right: 8px;
  }
  .cart__wrap {
    padding-bottom: 96px;
  }
  .cart__items {
    margin-bottom: 30px;
  }
  .cart__item {
    max-height: 188px;
  }
  .cart__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .cart__item__img > img {
    width: 144px;
    height: 188px;
  }
  .cart__item__content {
    margin: 14px 31px 38px 17px;
  }
  .cart__item__title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 26px;
  }
  .cart__item__text {
    font-size: 14px;
    line-height: 17px;
  }
  .cart__item__number {
    width: 24px;
    height: 15px;
    font-size: 10px;
    line-height: 12px;
    margin-left: 15px;
  }
  .cart__item__button {
    width: 10px;
    height: 11px;
    margin-top: 17px;
    margin-right: 12px;
  }
  .cart__buttons {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cart__button {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #575757;
    padding: 9px 18px;
  }
  .cart__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    margin-top: 48px;
  }
  .cart__form {
    margin-right: 0;
    margin-bottom: 48.5px;
  }
  .cart__form__input {
    width: 360px;
  }
  .cart__form__button {
    font-weight: 400;
  }
  .cart__checkout {
    margin-top: 0;
    padding: 39px 34px 42px 44px;
  }
}

.registration {
  margin-top: 64px;
  margin-bottom: 96px;
}

.registration__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registration__content {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: #000000;
  margin-left: 128px;
}

.registration__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: #000000;
  margin-bottom: 22px;
}

.registration__text {
  margin-bottom: 21px;
}

.registration__items {
  list-style-image: url("../icons/list-marker.svg");
  list-style-position: outside;
}

.registration__item {
  margin-left: 30px;
}

.registration__item:not(:last-child) {
  margin-bottom: 16px;
}

.registration__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registration__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.registration__form__title {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20.5px;
}

.registration__form__input {
  width: 360px;
  height: 45px;
  padding-left: 17px;
  padding-right: 17px;
  border: 1px solid #A4A4A4;
}

.registration__form__input:nth-child(2n) {
  margin-bottom: 20px;
}

.registration__form__input--radio {
  margin-right: 10px;
}

.registration__form__label {
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  line-height: 13px;
  color: #000000;
}

.registration__form__label:not(:last-child) {
  margin-right: 20px;
}

.registration__form__group:first-child {
  margin-bottom: 34px;
}

.registration__form__group:nth-child(2n) {
  margin-bottom: 34px;
}

.registration__form__group:last-of-type {
  margin-bottom: 39px;
}

.registration__form__text {
  max-width: 359px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: 15px;
}

.registration__form__button {
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  background: #fff;
  padding: 16px 66px 17px 29px;
}

.registration__form__button:hover {
  color: #fff;
  background: #F16D7F;
}

.registration__form__button > i {
  padding-left: 20px;
}

@media (max-width: 1172px) {
  .registration {
    margin-top: 40px;
  }
  .registration__content {
    font-size: 16px;
    line-height: 19px;
    margin-left: 22px;
  }
  .registration__title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 32px;
  }
}

@media (max-width: 399px) {
  .registration {
    margin-bottom: 100px;
  }
  .registration .container {
    padding-left: 8px;
    padding-right: 8px;
  }
  .registration__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .registration__left {
    margin-bottom: 40px;
  }
  .registration__content {
    margin-left: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

.logo {
  padding-right: 41px;
}

@media (max-width: 1172px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
/*# sourceMappingURL=all.css.map */