// шапка, подвал, подписка
@import 'blocks/_header';
@import 'blocks/_subscribe';
@import 'blocks/_footer';
//только на главной
@import 'blocks/_banner';
@import 'blocks/_offers';
@import 'blocks/_about';
// только на странице продукта
@import 'blocks/slider';
@import 'blocks/description';
// повторяются на главной, в каталоге, и/или в продукте
@import 'blocks/_breadcrumbs';
@import 'blocks/_filter';
@import 'blocks/_catalog';
// отдельные блоки
@import 'blocks/cart';
@import 'blocks/registration';
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    outline: none;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

.logo {
    padding-right: 41px;
}