.catalog__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__title {
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
}

.catalog__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 48px;
}

.catalog__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__item {
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
  position: relative;
  background: #F8F8F8;
  margin-bottom: 30px;
}

.catalog__item:nth-child(3), .catalog__item:nth-child(6) {
  margin-right: 0;
}

.catalog__item__content {
  margin: 25px 0 20px 18px;
}

.catalog__item__title {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
  margin-bottom: 13px;
}

.catalog__item__text {
  max-width: 315px;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 18px;
}

.catalog__item__price {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #F16D7F;
}

.catalog__item__button {
  position: absolute;
  top: 198px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.catalog__item__button_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fff;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  padding: 7px;
}

.catalog__item__button_link:hover {
  -webkit-box-shadow: 0 0 10px #fff;
          box-shadow: 0 0 10px #fff;
}

.catalog__item__button_icon {
  margin-right: 10px;
}

.catalog__item:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.catalog__item:hover .catalog__item__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog__item:hover .catalog__item__img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.catalog__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 95px;
  margin-top: 18px;
}

.catalog__button {
  width: 212px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: #f16d7f;
  background-color: #fff;
  border: 1px solid #f16d7f;
  padding: 14.5px 0 13.5px;
}

.catalog__button:hover {
  background-color: #f16d7f;
  color: #fff;
}
/*# sourceMappingURL=catalog.css.map */