.catalog {
    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-size: 30px;
        font-weight: 300;
        line-height: 36px;
        color: #222222;
        margin-bottom: 6px;
    }
    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        color: #9F9F9F;
        margin-bottom: 48px;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        max-width: 360px;
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        position: relative;
        background: #F8F8F8;
        margin-bottom: 30px;
        &:nth-child(3),
        &:nth-child(6) {
            margin-right: 0;
        }
        &__content {
            margin: 25px 0 20px 18px;
        }
        &__title {
            font-size: 13px;
            font-weight: 400;
            line-height: 16px;
            color: #000000;
            margin-bottom: 13px;
        }
        &__text {
            max-width: 315px;
            font-size: 14px;
            font-weight: 300;
            line-height: 17px;
            color: #5D5D5D;
            margin-bottom: 18px;
        }
        &__price {
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            color: #F16D7F;
        }
        &__button {
            position: absolute;
            top: 198px;
            display: none;
            justify-content: center;
            width: 100%;
            &_link {
                display: flex;
                align-items: center;
                border: 1px solid #fff;
                font-size: 13px;
                font-weight: 700;
                color: #fff;
                padding: 7px;
                &:hover {
                    box-shadow: 0 0 10px #fff;
                }
            }
            &_icon {
                margin-right: 10px;
            }
        }
        &:hover {
            box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
            .catalog__item__button {
                display: flex;
                // box-shadow: 0 0 10px #fff;
            }
            .catalog__item__img {
                filter: brightness(50%);
            }
        }
    }
    &__buttons {
        display: flex;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 95px;
        margin-top: 18px;
    }
    &__button {
        width: 212px;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        text-align: center;
        color: #f16d7f;
        background-color: #fff;
        border: 1px solid #f16d7f;
        padding: 14.5px 0 13.5px;
        &:hover {
            background-color: #f16d7f;
            color: #fff;
        }
    }
}