header {
    background-color: #222222;
    .header {
        &__wrap {
            display: flex;
            justify-content: space-between;
            padding-top: 18px;
            padding-bottom: 18px;
        }
        &__right {
            &_humburger-menu {
                margin-right: 33px;
            }
            &_account {
                margin-right: 33px;
            }
            &_basket {
                position: relative;
                &-count {
                    position: absolute;
                    display: flex;
                    right: -10px;
                    top: -20px;
                    align-items: center;
                    justify-content: center;
                    width: 19px;
                    height: 19px;
                    background: #F16D7F;
                    border-radius: 50%;
                    color: white;
                    font-size: 12px;
                }
            }
        }
    }
}