.about {
    background-color: #222224;
    &__items {
        display: flex;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 103px;
        margin-bottom: 104px;
        &__content {
            &__title {
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
                text-align: center;
                color: #fbfbfb;
                margin-top: 24px;
                margin-bottom: 16px;
            }
            &__text {
                font-size: 14px;
                font-weight: 300;
                line-height: 17px;
                text-align: center;
                color: #fbfbfb;
            }
        }
    }
}

@media (max-width:1172px) {
    .about {
        &__items {
            flex-direction: column;
        }
        &__item {
            margin-top: 48px;
            margin-bottom: 48px;
            &:nth-child(even) {
                margin-top: 0;
                margin-bottom: 0;
            }
            &__content {
                max-width: 360px;
            }
        }
    }
}

@media(max-width:399px) {
    .about {
        &__items {
            padding-bottom: 33px;
        }
    }
}