.banner {
    height: 764px;
    background-color: #F1E4E6;
    margin-bottom: 65px;
    &__wrap {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-image: url(../images/bg-top.png);
        background-repeat: no-repeat;
        background-position: -228px 0;
    }
    &__content {
        max-width: 401px;
    }
    &__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        text-align: left;
        padding-left: 16px;
        border-left: 12px solid #F16D7F;
        &--bold {
            font-weight: 900;
            font-size: 48px;
            line-height: 58px;
        }
        &--pink {
            color: #F16D7F;
        }
    }
}

@media(max-width:1172px) {
    .banner {
        height: 386px;
        margin-bottom: 20px;
        &__wrap {
            background-size: 386px;
            background-position: -49px 18px;
        }
        &__content {
            max-width: 313px;
            margin-right: 18px;
        }
        &__title {
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            &--bold {
                font-weight: 900;
                font-size: 44px;
                line-height: 53px;
            }
        }
    }
}

@media(max-width:425px) {
    .banner {
        margin-bottom: 64px;
        &__wrap {
            background-image: none;
        }
    }
}