.cart {
    margin-top: 96px;
    &__wrap {
        display: flex;
        padding-bottom: 128px;
    }
    &__items {
        margin-bottom: 72.5px;
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
    }
    &__button {
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        color: #000;
        border: 1px solid #A4A4A4;
        padding: 17px 41px 16px 39px;
        transition: .5s;
        &:hover {
            color: #fff;
            background-color: #F16D7F;
            border: 1px solid #F16D7F;
        }
    }
    &__item {
        max-height: 306px;
        position: relative;
        display: flex;
        box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13px);
        &:not(:last-child) {
            margin-bottom: 40px;
        }
        &__content {
            margin: 22px 0px 62px 32px;
            margin-right: 11vw;
        }
        &__title {
            font-size: 24px;
            font-weight: 400;
            line-height: 29px;
            color: #222222;
            white-space: nowrap;
            margin-bottom: 42px;
        }
        &__text {
            font-size: 22px;
            font-weight: 400;
            line-height: 26px;
            color: #575757;
            &:not(:last-child) {
                margin-bottom: 6px;
            }
        }
        &__price {
            color: #F16D7F;
        }
        &__number {
            width: 43px;
            height: 24px;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            margin-left: 24px;
        }
        &__button {
            position: absolute;
            cursor: pointer;
            width: 18px;
            height: 18px;
            fill: #575757;
            right: 22px;
            top: 28px;
        }
    }
    &__right {
        margin-left: 128px;
    }
    &__form {
        margin-bottom: 57.5px;
        &__title {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
            margin-bottom: 20px;
        }
        &__input {
            width: 343px;
            height: 45px;
            border: 1px solid #A4A4A4;
            padding-left: 17px;
            padding-right: 17px;
            text-transform: capitalize;
            &:not(:last-child) {
                margin-bottom: 21px;
            }
        }
        &__button {
            cursor: pointer;
            border: 1px solid #A4A4A4;
            font-weight: 300;
            font-size: 11px;
            line-height: 13px;
            background: #fff;
            color: #4A4A4A;
            padding: 10px 14px 12px 15px;
            transition: .5s;
            &:hover {
                color: #fff;
                background-color: #F16D7F;
                border: 1px solid #F16D7F;
            }
        }
    }
    &__checkout {
        background: #F5F3F3;
        padding: 39px 43px 42px 44px;
        &__content {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            border-bottom: 1px solid #E2E2E2;
            margin-bottom: 17px;
            padding-bottom: 21px;
        }
        &__text {
            font-size: 11px;
            font-weight: 400;
            line-height: 13px;
            color: #4A4A4A;
            margin-bottom: 12px;
            &--bold {
                font-size: 16px;
                font-weight: 300;
                line-height: 19px;
                color: #222222;
            }
        }
        &__price {
            margin-left: 25px;
            &--pink {
                color: #F16D7F;
                margin-left: 26px;
            }
        }
        &__button {
            font-size: 16px;
            font-weight: 300;
            line-height: 19px;
            color: #F16D7F;
            border: 1px solid #F16D7F;
            background: #fff;
            padding: 15px 43px 16px 41px;
            transition: .5s;
            &:hover {
                color: #fff;
                background: #F16D7F;
            }
        }
    }
}

@media (max-width:1172px) {
    .cart {
        margin-top: 59px;
        &__wrap {
            flex-wrap: wrap;
        }
        &__items {
            margin-bottom: 62px;
        }
        &__item {
            &__content {
                margin-right: 33vw;
            }
        }
        &__buttons {
            justify-content: space-evenly;
        }
        &__left {
            margin: 0 auto;
        }
        &__right {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            margin: 0 auto;
            margin-top: 65px;
        }
        &__form {
            margin-bottom: 0;
            &__input {
                width: 360px;
            }
        }
    }
}

@media (max-width:770px) {
    .cart {
        &__item {
            &__content {
                margin-right: 20vw;
            }
        }
    }
}

@media (max-width:667px) {
    .cart {
        &__right {
            flex-direction: column;
            align-items: initial;
            margin-top: 48px;
        }
    }
}

@media (max-width:638px) {
    .cart {
        margin-top: 39px;
        .container {
            padding-left: 8px;
            padding-right: 8px;
        }
        &__wrap {
            padding-bottom: 96px;
        }
        &__items {
            margin-bottom: 30px;
        }
        &__item {
            max-height: 188px;
            &:not(:last-child) {
                margin-bottom: 32px;
            }
            &__img>img {
                width: 144px;
                height: 188px;
            }
            &__content {
                margin: 13.5px 31px 38px 17px;
            }
            &__title {
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 26px;
            }
            &__text {
                font-size: 14px;
                line-height: 17px;
            }
            &__number {
                width: 24px;
                height: 15px;
                font-size: 10px;
                line-height: 12px;
                margin-left: 15px;
            }
            &__button {
                width: 10px;
                height: 11px;
                top: 17px;
                right: 12px;
            }
        }
        &__buttons {
            justify-content: space-between;
        }
        &__button {
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            color: #575757;
            padding: 9px 18px
        }
        &__form {
            margin-right: 0;
            margin-bottom: 48.5px;
            &__input {
                width: 360px;
            }
            &__button {
                font-weight: 400;
            }
        }
        &__checkout {
            margin-top: 0;
            padding: 39px 34px 42px 44px;
        }
    }
}