.catalog {
    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-size: 30px;
        font-weight: 300;
        line-height: 36px;
        color: #222222;
        margin-bottom: 6px;
    }
    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        color: #9F9F9F;
        margin-bottom: 48px;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    &__item {
        max-width: 360px;
        display: flex;
        flex-direction: column;
        position: relative;
        background: #F8F8F8;
        &__content {
            margin: 25px 0 20px 18px;
        }
        &__title {
            font-size: 13px;
            font-weight: 400;
            line-height: 16px;
            color: #000000;
            margin-bottom: 13px;
        }
        &__text {
            max-width: 315px;
            font-size: 14px;
            font-weight: 300;
            line-height: 17px;
            color: #5D5D5D;
            margin-bottom: 18px;
        }
        &__price {
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            color: #F16D7F;
        }
        &__button {
            position: absolute;
            top: 198px;
            display: none;
            justify-content: center;
            width: 100%;
            &_link {
                display: flex;
                align-items: center;
                border: 1px solid #fff;
                font-size: 13px;
                font-weight: 700;
                color: #fff;
                padding: 7px;
                transition: .5s;
                &:hover {
                    box-shadow: 0 0 10px #fff;
                }
            }
            &_icon {
                margin-right: 10px;
            }
        }
        &:hover {
            box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
            transition: .5s;
            .catalog__item__button {
                display: flex;
            }
            .catalog__item__img {
                filter: brightness(50%);
                transition: .5s;
            }
        }
    }
    &__buttons {
        display: flex;
        justify-content: center;
    }
    &__button {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        text-align: center;
        color: #f16d7f;
        background-color: #fff;
        border: 1px solid #f16d7f;
        padding: 14.5px 38.5px 13.5px;
        transition: .5s;
        margin-top: 48.5px;
        margin-bottom: 95.5px;
        &:hover {
            background-color: #f16d7f;
            color: #fff;
        }
    }
    &__pagination {
        border: 1px solid #EBEBEB;
        border-radius: 3px 3px 3px 3px;
        display: flex;
        justify-content: space-between;
        padding: 11px 16px;
        margin-top: 48.5px;
        margin-bottom: 96.5px;
        &__item {
            font-size: 16px;
            font-weight: 300;
            line-height: 19px;
            margin-right: 21px;
            &--last,
            &--penultimate {
                margin-right: 0;
            }
            &__arrow__left {
                margin: 0;
                margin-right: 16px;
                .arrow__left {
                    &:hover {
                        color: #EF5B70;
                        transition: .5s;
                    }
                }
            }
            &__arrow__right {
                margin: 0;
                margin-left: 16px;
                .arrow__right {
                    &:hover {
                        color: #EF5B70;
                        transition: .5s;
                    }
                }
            }
            &__link {
                font-size: 16px;
                font-weight: 300;
                line-height: 19px;
                color: #EBEBEB;
                transition: .5s;
                &--active {
                    color: #EF5B70;
                }
                &:hover {
                    color: #EF5B70;
                }
            }
        }
        &__dots {
            color: #EBEBEB;
        }
    }
}

@media(max-width:1172px) {
    .catalog {
        &__title {
            font-weight: 400;
            margin-bottom: 3px;
        }
        &__text {
            margin-bottom: 73px;
        }
        &__items {
            gap: 16px;
        }
        &__button {
            margin-top: 33px;
            margin-bottom: 65px;
        }
        &__pagination {
            margin-top: 40.5px;
            margin-bottom: 63.5px;
        }
    }
}

@media(max-width:425px) {
    .catalog {
        .container {
            padding-left: 8px;
            padding-right: 8px;
        }
        &__text {
            margin-bottom: 65px;
        }
        &__button {
            margin-top: 41px;
            margin-bottom: 96.5px;
        }
        &__pagination {
            margin-bottom: 64.5px;
        }
    }
}