.description {
    margin-bottom: 129px;
    .container {
        margin-top: -50px;
        border: 1px solid #EAEAEA;
        background-color: #fff;
    }
    &__wrap {
        position: relative;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid #EAEAEA;
        margin: 64px 250px 65px 250px;
    }
    &__category {
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        color: #F16D7F;
        border-bottom: 3px solid #EF5B70;
        padding-bottom: 12px;
        margin-bottom: 12px;
    }
    &__title {
        font-size: 18px;
        font-weight: 300;
        line-height: 22px;
        color: #4D4D4D;
        margin-bottom: 48px;
    }
    &__text {
        max-width: 555px;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        color: #5E5E5E;
        margin-bottom: 32px;
    }
    &__price {
        font-size: 24px;
        font-weight: 300;
        line-height: 29px;
        color: #EF5B70;
        margin-bottom: 65px;
    }
    &__form {
        display: flex;
        justify-content: center;
        margin-bottom: 49px;
        &__group {
            position: relative;
            cursor: pointer;
        }
        &__span {
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            color: #6F6E6E;
            &>i {
                padding-left: 10px;
            }
            &:not(:last-child) {
                margin-right: 23px;
            }
        }
        &__radio {
            position: absolute;
            opacity: 0;
            text-transform: capitalize;
            border: 0;
            border-radius: 4px;
            background: #fff;
            color: #6f6e6e;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            padding: 9px 9px 12px 9px;
            margin-top: 5px;
            .radio {
                border: 1px solid #EBEBEB;
                margin-right: 10px;
                color: #6f6e6e;
            }
        }
        &__group:hover &__radio {
            opacity: 1;
            transition: .5s;
        }
    }
    &__button {
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: #F26376;
        fill: #F26376;
        border: 1px solid #F26376;
        background: #fff;
        display: flex;
        align-items: center;
        padding: 15px 56px 14px 23px;
        margin: 0 auto;
        margin-bottom: 65px;
        transition: .5s;
        &:hover {
            background: #F26376;
            color: #fff;
            fill: #fff;
        }
        &>svg {
            margin-right: 23px;
        }
    }
}

@media(max-width:1172px) {
    .description {
        &__content {
            margin: 65px 107px;
        }
    }
}

@media(max-width:425px) {
    .description {
        margin-bottom: 64px;
        .container {
            padding: 0;
        }
        &__content {
            margin: 65px 25px;
        }
        &__title {
            margin-bottom: 32px;
        }
        &__text {
            line-height: 20px;
        }
        &__price {
            margin-bottom: 32px;
        }
        &__form {
            margin-bottom: 65px;
            &__span {
                font-size: 10px;
                line-height: 12px;
                &:not(:last-child) {
                    margin-right: 25px;
                }
            }
            &__radio {
                font-size: 12px;
                line-height: 14px;
            }
        }
    }
}