.filter {
    margin-top: 38px;
    margin-bottom: 64px;
    &__wrap {
        display: flex;
        gap: 304px;
    }
    &__menu {
        cursor: pointer;
        &__main {
            position: relative;
            z-index: 2;
            padding-top: 13px;
            .filter__summary__title {
                padding-left: 16px;
            }
        }
        &__content {
            position: absolute;
            top: 0;
            z-index: -1;
            background-color: #FFF;
            padding-top: 33px;
            width: 360px;
        }
        &__main[open] &__content {
            box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16px);
        }
        &__inner {
            padding: 13px 0 16px 16px;
            .filter__summary__title {
                padding: 11px;
            }
        }
    }
    &__menu[open]>&__summary {
        color: #EF5B70;
    }
    &__menu[open]>&__summary &__summary__icon {
        fill: #EF5B70;
    }
    &__summary {
        list-style: none;
        display: flex;
        color: #6F6E6E;
        &__title {
            padding-right: 11px;
        }
        &__icon {
            margin-top: 5px;
            fill: #6F6E6E;
        }
        &__items {
            margin-top: 24px;
        }
    }
    &__menu__inner &__summary {
        border-left: 5px solid #EF5B70;
        border-bottom: 1px solid #EBEBEB;
        margin-right: 15.5px;
    }
    &__item__link {
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        color: #6F6E6E;
        margin-top: 11px;
        margin-left: 18px;
        &:hover {
            color: #EF5B70;
        }
    }
    &__form {
        display: flex;
        justify-content: space-between;
        margin-top: 13px;
        &__group {
            position: relative;
            cursor: pointer;
        }
        &__group:not(:last-child) {
            margin-right: 28px;
        }
        &__span {
            font-size: 14px;
            line-height: 17px;
            color: #6F6E6E;
            &>i {
                padding-left: 10px;
            }
        }
        &__checkbox {
            position: absolute;
            z-index: 1;
            opacity: 0;
            text-transform: capitalize;
            border: 0;
            border-radius: 4px;
            background: #fff;
            color: #6f6e6e;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            padding: 9px 9px 12px 9px;
            margin-top: 5px;
            white-space: nowrap;
            .checkbox {
                border: 1px solid #EBEBEB;
                margin-right: 10px;
                color: #6f6e6e;
            }
        }
        &__group:hover &__checkbox {
            opacity: 1;
            transition: .5s;
        }
        &__range {
            position: absolute;
            z-index: 1;
            display: flex;
            opacity: 0;
            border: 0;
            border-radius: 4px;
            background: #FFFFFF;
            color: #6f6e6e;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            padding: 9px 9px 12px 9px;
            margin-top: 5px;
            .range {
                margin: 0 10px;
            }
        }
        &__group:hover &__range {
            opacity: 1;
            transition: .5s;
        }
    }
}

@media (max-width:1172px) {
    .filter {
        margin-top: 24px;
        margin-bottom: 40px;
        &__wrap {
            display: flex;
            justify-content: space-between;
            gap: 0;
        }
        &__wrap>&__menu {
            margin-right: 0px;
        }
        &__form {
            &__range {
                right: 0;
            }
        }
    }
}

@media(max-width:425px) {
    .filter {
        margin-bottom: 32px;
        &__summary {
            &__title--hidden {
                display: none;
            }
            &__icon {
                margin: 7px 0;
            }
        }
        &__form {
            &__span {
                font-size: 12px;
                line-height: 14px;
            }
            &__checkbox {
                font-size: 12px;
                line-height: 14px;
            }
            &__range {
                font-size: 12px;
                line-height: 14px;
            }
        }
        &__menu__main[open] &__menu__content {
            margin-left: -8px;
        }
    }
}