.offers {
    margin-bottom: 66px;
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 360px;
        height: 260px;
        margin-bottom: 30px;
        &:last-child {
            width: 100%;
            max-height: 180px;
        }
        &--women {
            background: linear-gradient(rgba(33, 22, 22, 0.7)), url(../images/women.png);
        }
        &--men {
            background: linear-gradient(rgba(33, 22, 22, 0.7)), url(../images/men.png);
        }
        &--kids {
            background: linear-gradient(rgba(33, 22, 22, 0.7)), url(../images/kids.png);
        }
        &--accessories {
            background: linear-gradient(rgba(33, 22, 22, 0.7)), url(../images/acc.png);
        }
        &__link {
            max-width: 155px;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            text-align: center;
            color: #fff;
            &--pink {
                font-size: 24px;
                font-weight: 700;
                line-height: 29px;
                color: #F16D7F;
            }
        }
    }
}

@media(max-width:1172px) {
    .offers {
        margin-bottom: 135px;
        .container {
            padding-left: 20px;
            padding-right: 20px;
        }
        &__item {
            width: 232px;
            height: 168px;
            margin-bottom: 20px;
            background-size: 232px;
            &:last-child {
                width: 100%;
                max-height: 116px;
                background-size: 734px;
            }
        }
    }
}

@media(max-width:399px) {
    .offers {
        margin-bottom: 32px;
        &__item {
            width: 343px;
            height: 247px;
            margin-bottom: 32px;
            background-size: 343px;
            &:last-child {
                max-height: 116px;
                width: 100%;
                background-size: cover;
            }
        }
    }
}