.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F7F7F7;
    border: 1px solid #EAEAEA;
    // margin-top: -51px;
    &__button {
        position: absolute;
        cursor: pointer;
        background: rgba(42, 42, 42, 0.15);
        border: 0;
        padding: 13px 17px;
        &__left {
            left: 5px;
        }
        &__right {
            right: 5px;
        }
        &:hover {
            color: #EF5B70;
        }
    }
}

@media(max-width:1172px) {
    .slider {
        &__img>img {
            width: 466px;
            height: 565px;
            margin-bottom: 29px;
        }
        &__button {
            &__left {
                left: 0;
            }
            &__right {
                right: 0;
            }
        }
    }
}

@media(max-width:399px) {
    .slider {
        &__img>img {
            width: 374px;
            height: 454px;
            margin-top: 85px;
            margin-bottom: 85px;
        }
        &__button {
            &__left {
                left: 0;
            }
            &__right {
                right: 0;
            }
        }
    }
}