.subscribe {
    height: 448px;
    background-image: url(../images/bg-subscribe.png);
    background-position: center;
    background-size: cover;
    &__wrap {
        display: flex;
    }
    &__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 97px;
        margin-right: 327px;
        &__icon {
            margin-bottom: 30px;
        }
        &__content {
            max-width: 360px;
            height: 100%;
        }
        &__text {
            font-size: 20px;
            font-style: italic;
            line-height: 24px;
            text-align: center;
            font-weight: 400;
            color: #222224;
        }
    }
    &__right {
        &__content {
            margin-bottom: 32px;
            color: #222224;
            font-weight: 400;
            text-align: center;
            text-transform: uppercase;
        }
        &__heading {
            font-size: 24px;
            margin-top: 148px;
        }
        &__text {
            font-size: 18px;
            line-height: 24px;
        }
    }
    &__form {
        height: 46px;
        display: flex;
        justify-content: center;
        &__input {
            width: 256px;
            height: 49px;
            background-color: #e1e1e1;
            border: 0;
            border-radius: 23px 0 0 23px;
            padding-left: 22px;
            color: #222224;
            opacity: 0.67;
        }
         ::placeholder {
            opacity: 0.67;
            color: #222224;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
        }
        &__button {
            cursor: pointer;
            height: 49px;
            padding: 0 20px;
            border: 0;
            border-radius: 0 23px 23px 0;
            background-color: #fff;
            color: #f16d7f;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            letter-spacing: 0.35px;
            &:hover {
                background-color: #f16d7f;
                color: #fff;
            }
        }
    }
}